@import url(https://fonts.googleapis.com/css?family=DM+Sans);

*{
  font-family: "DM Sans", sans-serif !important ;
}


.OUTERDIV {
	position: relative;
	width: 80%;
	left: 10%;
	top: 30%;
	align-items: center;
	right: 10%;
}

/* Header */
.ROLE {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  font-weight: normal;
  margin-bottom: 30px;
}

.FULLNAME {
  line-height: 10px;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 40px;
  line-height: 15px;
  margin-top: 100px;
  margin-bottom: 5px;
}


.EXPDETAIL {
  position: relative;
  width: 70%;
  float: left;
  text-align: left;
  word-wrap: break-word;
  letter-spacing: 1px;
  max-height: 100%;
  overflow-y: auto;
  font-weight: bold;
}

/* Experiences */
.EXPDETAIL>.SECTION_HEADING {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 28px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.EXPDETAIL>.SECTION_ROLE {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.EXPDETAIL>.SECTION_COMPANY_NAME {
  font-weight: normal;
  line-height: 18px;
  font-size: 13px;
}

.EXPDETAIL>.SECTION_TIMELINE {
  font-weight: normal;
  line-height: 18px;
  font-size: 12px;
}

.EXPDETAIL>.SECTION_RESPONSIBILITIES {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}


.SIDEBAR {
  font-size: 15px;
  line-height: 18px;
  width: 25%;
  float: right;
  word-wrap: break-word;
  text-align: left;
  max-height: 100%;
  overflow-y: auto;
  padding-left: 5px;
  padding-top: 40px;
}

.SIDEBAR>.SIDEBAR_HEADING {
  font-weight: bold;
}